
/public/hot
/public/storage
/storage/*.key
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/Applications/XAMPP/xamppfiles/htdocs/BewellSYS/project 2/storage/framework/sessions
/Applications/XAMPP/xamppfiles/htdocs/BewellSYS/project 2/storage/logs
/Users/Wong_9899/Desktop/wong/BewellSYS/project 2/storage/logs
